<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>History</title>
</head>
<body>
<h1>Request history</h1>
{% for num in numbers%}
    {%if num.request_id in lines%}
    <p style="color:#62d44d">{{num}} <br></p>
    {% else%}
    <p>{{num}} <br></p>
    {%endif%}
    {% endfor %}
</body>
</html>
